/*Header*/
h1{
  display:inline-block;
  box-sizing:border-box;
  padding:10px;
  border:none;
  font-size:80px;
  font-family:'Pacifico', cursive;
  color:white;
  text-align:center;
}
h2{
    display:inline-block;
  box-sizing:border-box;
  padding:10px;
  border:none;
  font-size:20px;
  color:white;
  text-align:center;
}

/*Body*/
body{
  background-color: #00bf8f;
  line-height: 1;
  height: 100%;
  text-align: center;
  width: 100%;
  margin: 10px;
  padding: 10px;
}

/*Playback area styling*/
home{
  width: 500px;
  height: 300px;
}
/*Info area styling */
p{
  text-align:center;
  color:white;
  font-size:18px;
}
input[type=text] {
    width: 200px;
    height:20px;
}
.search-button, .reset-button{
  border-radius: 4px;
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.search-button, .reset-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.search-button, .reset-button span:after {
  content: '\00bb';
  transition: 0.5s;
}
.search-button, .reset-button:hover span {
  padding-right: 25px;
}
.search-button, .reset-button:hover span:after {
  opacity: 1;
}
/*Footer area */
footer{
  display:inline-block;
  box-sizing:border-box;
  padding:10px;
  border:none;
  text-align:center;
  color:white;
  font-size:14px;
}