/*Header*/
h1{
  display:inline-block;
  box-sizing:border-box;
  padding:10px;
  border:none;
  font-size:80px;
  font-family:'Pacifico', cursive;
  color:white;
  text-align:center;
}

/*Body*/
body{
  background-color: #00bf8f;
  line-height: 1;
  height: 100%;
  text-align: center;
  width: 100%;
  margin: 10px;
  padding: 10px;
}

/*Playback area styling*/
home{
  width: 500px;
  height: 300px;
}
/*Info area styling */


/*Footer area */
footer{
  display:inline-block;
  box-sizing:border-box;
  padding:10px;
  border:none;
  text-align:center;
  color:white;
  font-size:14px;
}